body {
  font-family: Helvetica;
}
.app {
  margin-bottom: 20px;
  display:flex;

  .channel-section {
  height: 100vh;
  width: 20%;
  color: white;
  background-color: #24314B;
  font-size: 20px;
  padding: 20px;
  }

  .message-list {
  padding-top: 20px;
  padding-left: 50px;
  height: 100vh;
  width: 80%;
  background-color: #F2F4F7;
  }
}


.message{
  margin-bottom: 30px
}

.message-header {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px
}

.message-author{
  margin-right: 15px;
  font-weight: bold;
}

.message-time {
 font-weight: lighter;
}

.message-content {

}

.channel-list {
  padding-left: 30px
}

.chan {
  padding-bottom: 10px;
  cursor: pointer;
}

.message-form {

}

.active-channel {
  font-weight: bold;
}

.channel-title {
  color:#5BCBB8;
  padding-bottom: 30px;
  font-size: 25px;
  font-weight: bold;
}




